@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:400,300|Lato:400,300);

@font-face {
  font-family: 'Calibri';
  src: url('../../fonts/calibri_bold.ttf') format('truetype'); 
}
@font-face {
	font-family: 'Slack-Lato';
	src: url('../../fonts/Lato-Regular.ttf') format('truetype'); 
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, sans-serif;
}

ul {
	padding: 0;
	list-style-type: none;
}

:global .container {
	clear: both;
	margin: 0px auto;
	max-width: 1415px;
}

:global .no_sidenav_container {
	padding: 0 0 46px;
	background: none repeat scroll 0% 0%;
	max-width: 1150px;
	padding-left: 50px;
	padding-right: 50px;
	clear: both!important;
	margin: 5rem auto!important;
}

:global .float-left {
	float: left!important;
}

:global .float-right {
	float: right!important
}

// Buttons
:global .button {
	display: inline-block;
	position: relative;
	height: 37px;
	padding: 0px 16px;
	color: rgba(0, 0, 0, 0.44);
	background: transparent none repeat scroll 0% 0%;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.15);
	vertical-align: bottom;
	white-space: nowrap;
	-moz-user-select: none;
	box-sizing: border-box;
	border-radius: 999em;
	font-family: "Lato";
	letter-spacing: -0.02em;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizelegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	line-height: 35px;
	-webkit-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
	&:hover {
		border: 1px solid rgba(0, 0, 0, 0.23);
		-moz-transition:  0.1 ease-in-out;
		transition: 0.1 ease-in-out;
	}
	&:focus {
		outline: none;
	}
}
:global .button-primary {
	border: 1px solid #A9D8B2;
	color: #57AD68;
	&:hover {
		border: 1px solid #73BD82;
		color: #5C9C68;
	}
}

:global .button-link {
	border-radius: 0px;
	box-shadow: none;
	height: auto;
	line-height: inherit;
	border-width: 0px;
	padding: 0px;
	vertical-align: baseline;
	color: rgba(0, 0, 0, 0.3);
	white-space: normal;
}
:global .button-inline {
	margin: 0px 6px;
	vertical-align: middle;
}
:global .button-with-icon {
	transition: background-color 100ms ease 0s, border-color 100ms ease 0s, color 100ms ease 0s, fill 100ms ease 0s;
	line-height: normal;
}
:global .text-input {
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: 0px 15px;
	height: 35px;
	width: 55%;
	font-size: 14px;
	outline: medium none;
	background: #FFF none repeat scroll 0% 0%;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: "Lato";
	letter-spacing: -0.02em;
	font-weight: 400;
	font-style: normal;
	color: black;
	line-height: normal;
	-webkit-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
	&:hover {
		border: 1px solid rgba(0, 0, 0, 0.23);
		-moz-transition:  0.1 ease-in-out;
		transition: 0.1 ease-in-out;
	}
	&:focus {
		border: 1px solid rgba(0, 0, 0, 0.23);
	}	
}

.btn_square, .btn_circle {
	-webkit-font-smoothing: antialiased;
	line-height: 1.2rem;
	text-decoration: none;
	cursor: pointer;
	border: none;
	border-radius: 0.25rem;
	position: relative;
	text-align: center;
	margin: 0;
	margin-right: 3px;
	white-space: nowrap;
	padding: 8px 14px 9px;
	font-size: 15px;	
	&:hover {
		.icon {
			opacity: 1;
		}
	}
	&:after {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: .25rem;
	}
	&:active {
		box-shadow: inset 0px 1px 3px 0px rgba(81,79,79,0.50);
	}
}
.btn_circle {
	border-radius: 999em;
}

.btn_icon {
	width: 30px;
	height: 28px;
	padding: 0;
	padding-bottom: 4px;
	.icon {
		height: 17.5px;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
	.icon_awksize {
		height: 3.5px;
	}
}
.btn_outline {
	background: #fff;
	color: #555459!important;	
	&:after {
		border: 1px solid #C7CACD;
	}
}
button:focus, input[type="button"]:focus {
    outline: none;
}

:global .button-group {
	.button {
		margin-right: -5px;
		vertical-align: middle;
	}
	.button-circle {
		padding: 0px;
		width: 37px;
		text-align: center;
	}
	.button-borderless {
		border: none;
	}	
}

.button.button-borderless {
	border: none;
}

.button-borderless {
	&:hover {
		border: none
	}
}


:global .main-app {
	margin-top: 200px;
}

:global .link {
	cursor: pointer;
	&:hover {
		
	}
}
// :global .link_name {
// 	text-decoration: none;
// 	&:hover {
// 		opacity: 1;
// 		color: #4D995C;
// 	}
// }

// Tooltips
.tooltip{
	font-family: "Lato";
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px 3px;
    font-size:13px;
    opacity:0;
    filter:alpha(opacity=0);
    &.side_tool {
    	width: 60%;
    }
    &.bottom_tool {
    	white-space: nowrap;
    	padding: 5px 5px;
    }
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 4.5px;
}
.tooltip-side {
    left: 0!important;
}
.tooltip.in{
    opacity:1;
    filter:alpha(opacity=80)
}
.tooltip.top{
    margin-top:-4px;
}
.tooltip .tooltip-arrow{
    bottom:-5px;
    left: 50%;
    margin-left: -10px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #000;
}
.tooltip .tooltip-arrow-right {
	position: absolute;	
	bottom:-5px;
	right: 25%!important;
	margin-left: -10px;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:8px solid #000;
}
.tooltip .tooltip-arrow-left {
	position: absolute;	
	bottom:-3px;
	left: 30%!important;
	margin-left: -10px;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:8px solid #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip-inner{
    max-width:200px;
    padding:5px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
}

.overflow_ellipsis {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	z-index: 999999999;
}

// Main content // 
.main_content {
	position: absolute;
	width: 78%;
	float: left;
	margin-left: 260px;
	margin-top: 90px;
}
.page_header {
	font-family: 'Calibri';
	font-size: 26px;
	color: #555459;
	opacity: 0.95;
	cursor: pointer;
	margin-bottom: 0;
	&:hover {
		opacity: 1;
		// text-decoration: underline;
	}
}

// Supplemental third col
.supplemental {
	padding-left: 30px;
	margin: 25px -18px -1rem 0.5rem;
}

@media screen and (max-width: 860px) {
	.remove_small {
		display: none;
	}
}

.clear_both {
	clear: both;
}

.copy_only {
	display: inline-block;
    vertical-align: baseline;
    width: 1;
    height: 0;
    background-size: 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
    font-size: 0;
    float: left;
    text-rendering: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



// /*Placeholder color*/

::-webkit-input-placeholder {
  color: #B2B2B2;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  color: #B2B2B2;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
  color: #B2B2B2;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {  
  color: #B2B2B2;
  opacity: 0.5;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}


// /*Placeholder hover darken*/

::-webkit-input-placeholder {
    color: #B2B2B2;
}
textarea:hover::-webkit-input-placeholder {
    opacity: 0.8;
    -webkit-transition: opacity 0.05 ease-in-out;
 	transition: opacity 0.05 ease-in-out;
}
:moz-placeholder {
	color: #B2B2B2;
}
::moz-placeholder {
	color: #B2B2B2;
}
:hover:-moz-placeholder {
  opacity: 0.8;
  -moz-transition: opacity 0.1 ease-in-out;
  transition: opacity 0.1 ease-in-out;
}
:hover::-moz-placeholder {
  opacity: 0.8;
  -moz-transition: opacity 0.1 ease-in-out;
  transition: opacity 0.1 ease-in-out;
}
:ms-input-placeholder {
	color: #B2B2B2;
}
textarea:hover:ms-input-placeholder {
	opacity: 0.8;
    -ms-transition: opacity 0.1 ease-in-out;
 	transition: opacity 0.1 ease-in-out;
}


// Inline images and info
.inline_image {
	display: table-cell;
}
.inline_info {
	display: table-cell;
}


// Side supp header
.section_header {
	border-top: 1px solid #F3F3F3;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 15px;
	.header_icon {
		height: 18px;
		opacity: 0.6;
		&:hover {
			opacity: 0.9;
		}
	}
	.section_header_label {
		opacity: 0.6;
		padding-left: 10px;
	}
}


// Icons
.icon {
	height: 17.5px;
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
	&.dropdown_menu_icon {
		margin-left: 8px;
		height: 7px;
	}
}


// Menu styles
.menu {
	position: absolute;
	z-index: 150;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	min-width: 220px;
	max-width: 20pc;
	font-family: "Lato";
	color: #2c2d30;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,.12);
	border-radius: 6px;
	border: 1px solid rgba(0,0,0,.15);
	ul {
		list-style-type:none;
		margin:.75rem 0;
		padding:0;
		li {
			font-size:15px;
			line-height:25px;
			background:0 0;
			margin:0 .75rem;
			padding:0;
			overflow:hidden;
			cursor: pointer;
			i {
				margin-right:.5rem;
				color:#babbbf;
				float:left;
				&:before {
					font-size:17px
				}
			} 
			a {
				display:block;
				background:#fff;
				color:#2c2d30;
				text-decoration:none;
				padding:0 1rem 0 .75rem;
				overflow:hidden;
				text-overflow:ellipsis;
				white-space:nowrap;
				outline:0;
				border-radius:.25rem
			}
			&.highlighted, &:hover {
				a {
					background:#3aa3e3;
					color:#fff;
					text-decoration:none;
					overflow:hidden;
					text-shadow:0 1px 0 rgba(0,0,0,.1);
					i {
						color: #fff;
					}
				}
				// a {
				// 	background: #f2f2f5;
				// 	color: #2c2d30;
				// 	text-shadow: none;
				// }
			}
			a { 
				&.delete_link {
					color: #870000;
				}
			}
			&.disabled {
				a {
					color:#babbbf;
					cursor:default;
				}
			}
		}		
	}
}


   

// .menu ul li.divider{border-bottom:1px solid rgba(0,0,0,.15);margin:.75rem 0}
// .menu ul li.divider:last-child{display:none}
// .menu ul li i:before{font-size:17px}
// .menu ul li:not(.dm_list_item) .member_image{margin-right:.5rem;vertical-align:top;margin-left:-11px;width:22px;height:22px;margin-top:1px}
// .menu ul li a.delete_link{color:#870000}
// .menu ul li.danger a{color:#eb4d5c}
// .menu ul li.disabled a{color:#babbbf;cursor:default}

// .menu ul li.highlighted a .prefix,.menu ul li.highlighted a i,.menu ul li.highlighted a.delete_link,.menu:not(.keyboard_active) ul li:hover a .prefix,.menu:not(.keyboard_active) ul li:hover a i,.menu:not(.keyboard_active) ul li:hover a.delete_link{color:#fff}

// .menu ul li.highlighted.danger a,.menu:not(.keyboard_active) ul li.danger:hover a{background:#eb4d5c}
// .menu .section_header{cursor:default;margin:.625rem .75rem;position:relative}
// .menu .section_header .header_label{background-color:#fff;color:#9e9ea6;padding-right:.8rem}
// .menu .section_header .header_label.menu_mini{font-size:.8125rem;line-height:1rem}
// .menu .section_header>.header_label{position:relative}
// .menu .section_header>div.header_label_container{color:#9e9ea6;padding-right:.375rem;position:relative}
// .menu .section_header hr{position:absolute;left:1rem;right:0;margin-top:.6rem;margin-bottom:0}
// .menu #menu_header .menu_simple_header{font-size:1rem;line-height:1.5rem;padding:.6rem 1rem;background:#fbfaf8;color:#555459;font-weight:700;border-bottom:1px solid rgba(0,0,0,.15);border-top-right-radius:.25rem;border-bottom-right-radius:0;border-bottom-left-radius:0;border-top-left-radius:.25rem;background-clip:padding-box}
// .menu #menu_header .menu_close{float:right;color:#555459;font-size:1.25rem;line-height:1.25rem;text-shadow:none;text-decoration:none!important;opacity:.25;-webkit-transition:.1s;-moz-transition:.1s;transition:.1s}
// .menu #menu_header .menu_close:hover{opacity:1}
// .menu #menu_header .menu_simple_header a{color:#555459;font-weight:700;text-decoration:underline}
// .menu #menu_header .menu_simple_header a:hover{color:#555459;text-decoration:underline}
// .menu #menu_items_scroller{max-height:454px;overflow-y:auto;overflow-x:hidden}
// .menu #monkey_scroll_wrapper_for_menu_items_scroller{background:#fff;border-radius:6px}
// .menu #menu_footer .menu_footer{background:#fbfaf8;padding:.5rem .75rem;border-top:1px solid rgba(0,0,0,.15)}
// .menu .menu_filter_container{background:#fff;position:relative;padding:7px;max-width:275px}
// .menu .menu_filter_container input.menu_filter{padding:.1rem 1.8rem 0;height:1.75rem;line-height:1rem;font-size:.9rem;border-radius:1rem;border:1px solid #DDD;outline:0}
// .menu .menu_filter_container input.menu_filter::-ms-clear{display:none}
// .menu .menu_filter_container input.menu_filter:focus{border-color:#babbbf}
// .menu .menu_filter_container .icon_search{position:absolute;font-size:.9rem;top:8x;left:15px;color:#CCC}
// .menu .menu_filter_container .icon_close{position:absolute;right:9pt;top:8px;text-decoration:none;color:#CCC!important;font-size:14px}
// .menu .menu_filter_container .filter_no_matches{margin:0;text-align:center;padding:.6rem .75rem 1.1rem;overflow:hidden}
// .menu.team_menu{min-width:15pc}














