@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:400,300|Lato:400,300);

@font-face {
  font-family: 'Calibri';
  src: url('../../fonts/calibri_bold.ttf') format('truetype'); 
}
@font-face {
	font-family: 'Slack-Lato';
	src: url('../../fonts/Lato-Regular.ttf') format('truetype'); 
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, sans-serif;
}

ul {
	padding: 0;
	list-style-type: none;
}

:global .container {
	clear: both;
	margin: 0px auto;
	max-width: 1415px;
}

:global .float-left {
	float: left!important;
}

:global .float-right {
	float: right!important
}

// Buttons
:global .button {
	display: inline-block;
	position: relative;
	height: 37px;
	padding: 0px 16px;
	color: rgba(0, 0, 0, 0.44);
	background: transparent none repeat scroll 0% 0%;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.15);
	vertical-align: bottom;
	white-space: nowrap;
	-moz-user-select: none;
	box-sizing: border-box;
	border-radius: 999em;
	font-family: "Lato";
	letter-spacing: -0.02em;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizelegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	line-height: 35px;
	-webkit-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
	&:hover {
		border: 1px solid rgba(0, 0, 0, 0.23);
		-moz-transition:  0.1 ease-in-out;
		transition: 0.1 ease-in-out;
	}
	&:focus {
		outline: none;
	}
}
:global .button-primary {
	border: 1px solid #A9D8B2;
	color: #57AD68;
	&:hover {
		border: 1px solid #73BD82;
		color: #5C9C68;
	}
}

:global .button-link {
	border-radius: 0px;
	box-shadow: none;
	height: auto;
	line-height: inherit;
	border-width: 0px;
	padding: 0px;
	vertical-align: baseline;
	color: rgba(0, 0, 0, 0.3);
	white-space: normal;
}
:global .button-inline {
	margin: 0px 6px;
	vertical-align: middle;
}
:global .button-with-icon {
	transition: background-color 100ms ease 0s, border-color 100ms ease 0s, color 100ms ease 0s, fill 100ms ease 0s;
	line-height: normal;
}
:global .text-input {
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: 0px 15px;
	height: 35px;
	width: 55%;
	font-size: 14px;
	outline: medium none;
	background: #FFF none repeat scroll 0% 0%;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: "Lato";
	letter-spacing: -0.02em;
	font-weight: 400;
	font-style: normal;
	color: black;
	line-height: normal;
	-webkit-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
	&:hover {
		border: 1px solid rgba(0, 0, 0, 0.23);
		-moz-transition:  0.1 ease-in-out;
		transition: 0.1 ease-in-out;
	}
	&:focus {
		border: 1px solid rgba(0, 0, 0, 0.23);
	}	
}

.btn_square {
	-webkit-font-smoothing: antialiased;
	line-height: 1.2rem;
	text-decoration: none;
	cursor: pointer;
	border: none;
	border-radius: 0.25rem;
	position: relative;
	text-align: center;
	margin: 0;
	margin-right: 3px;
	white-space: nowrap;
	padding: 8px 14px 9px;
	font-size: 15px;	
	&:hover {
		.icon {
			opacity: 1;
		}
	}
	&:after {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: .25rem;
	}
	&:active {
		box-shadow: inset 0px 1px 3px 0px rgba(81,79,79,0.50);
	}
}
.btn_icon {
	width: 30px;
	height: 28px;
	padding: 0;
	padding-bottom: 4px;
	.icon {
		height: 17.5px;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
	.icon_awksize {
		height: 3.5px;
	}
}
.btn_outline {
	background: #fff;
	color: #555459!important;	
	&:after {
		border: 1px solid #C7CACD;
	}
}
button:focus, input[type="button"]:focus {
    outline: none;
}

:global .button-group {
	.button {
		margin-right: -5px;
		vertical-align: middle;
	}
	.button-circle {
		padding: 0px;
		width: 37px;
		text-align: center;
	}
	.button-borderless {
		border: none;
	}	
}

.button.button-borderless {
	border: none;
}

.button-borderless {
	&:hover {
		border: none
	}
}


:global .main-app {
	margin-top: 200px;
}

:global .link {
	cursor: pointer;
	&:hover {
		
	}
}
// :global .link_name {
// 	text-decoration: none;
// 	&:hover {
// 		opacity: 1;
// 		color: #4D995C;
// 	}
// }

// Tooltips
.tooltip{
	font-family: "Lato";
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px 3px;
    font-size:13px;
    opacity:0;
    filter:alpha(opacity=0);
    &.side_tool {
    	width: 60%;
    }
}
.tooltip-side {
    left: 0!important;
}
.tooltip.in{
    opacity:.8;
    filter:alpha(opacity=80)
}
.tooltip.top{
    margin-top:-4px;
}
.tooltip .tooltip-arrow{
    bottom:-5px;
    left: 50%;
    margin-left: -10px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #000;
}
.tooltip .tooltip-arrow-right {
	position: absolute;	
	bottom:-5px;
	right: 25%!important;
	margin-left: -10px;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:8px solid #000;
}
.tooltip .tooltip-arrow-left {
	position: absolute;	
	bottom:-3px;
	left: 30%!important;
	margin-left: -10px;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:8px solid #000;
}
.tooltip-inner{
    max-width:200px;
    padding:5px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
}

.overflow_ellipsis {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	z-index: 999999999;
}

// Main content // 
.main_content {
	position: absolute;
	width: 75%;
	float: left;
	margin-left: 260px;
	margin-top: 90px;
}
.page_header {
	font-family: 'Calibri';
	font-size: 26px;
	color: #555459;
	opacity: 0.95;
	cursor: pointer;
	margin-bottom: 0;
	&:hover {
		opacity: 1;
		// text-decoration: underline;
	}
}

// Supplemental third col
.supplemental {
	padding-left: 30px;
	margin: 25px -18px -1rem 0.5rem;
}

@media screen and (max-width: 860px) {
	.remove_small {
		display: none;
	}
}

.clear_both {
	clear: both;
}

.copy_only {
	display: inline-block;
    vertical-align: baseline;
    width: 1;
    height: 0;
    background-size: 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
    font-size: 0;
    float: left;
    text-rendering: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}















