.diff_controls {
    margin-bottom: 10px;
    // margin-top: 10px;
    /* padding-bottom: 11px; */
    position: relative;
    display: inline-flex;		
	.toggle_btn {
		margin-left: 10px;
		width: 35px;
		height: 35px;
		border-radius: 20px;
		border: 1px solid rgba(0,0,0,.1);
		box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
		position: relative;
		color: #67686e;
		opacity: 0.75;
		display: inline-block;
		cursor: pointer;
		.diff_icon {
			position: absolute;
			height: 15px;
			top: 9px;
			left: 9px;
		}
		.true_false {
			left: 5px;
		}
		.copy_answer {
			height: 18px;
			top: 8px;
		}
		&:hover {
			opacity: 1;
		}
	}
}

