.sign_in_page_container {
	position: absolute;
	top: 0px;
	bottom: 0;
	width: 100%;
	.sign_in_page {
		margin: 0 auto;
		min-width: 905px!important;
		max-width: 1200px;
		padding-left: 50px;
		padding-right: 50px;
		font-family: "Open Sans";
		padding-top: 7em;
		.sign_in_content {
			min-width: 350px;
			.card {
				padding-bottom: 30px;
				padding-top: 10px;
				border: none;
			}
			.user_info {
				margin-bottom: 5px;
				img {
					height: 85px;
				}
			}
			.sign_in {
				margin-bottom: 20px;
				input, button {
					min-width: 255px;
				}
				input {
					margin-bottom: 10px;
				}
				button {
					display: block;
				}
			}
			.day_divider {
				margin: 0rem 0px 0 0;
				padding: 0.5rem 16px 0.5rem 1.5rem;
				min-width: 0;
				.day_divider_label {
					font-weight: 400;
				}
			}
			.sign_up_group {
				margin-top: 20px;
				button {
					display: block;
					min-width: 255px;
					&:last-child {
						margin: 0;
						margin-top: 10px;
					}
				}
			}
			.logo {
				margin-bottom: 20px;
				cursor: pointer;
				img {
					height: 25px;
				}
			}
			.instruction {
				margin-bottom: 25px;
				font-size: 18px;
			}
		}
		.sign_in_content, 
		.sign_up_group, 
		.logo, .backup, .user_info,
		.sign_in, .instruction{
			display: table;
			margin: 0 auto;
		}
	}	
}