.sign_up_container {
	.card {
		padding: 2.5em;
		max-width: 380px;
		font-family: "Lato";
		.message {
			h4 {

				font-weight: 700;
				letter-spacing: 0.01em;
				font-size: 28px;
				&.start_now {
					text-align: center;
					font-weight: 400;
					margin-bottom: 55px;
				}
			}
			p {
				margin-bottom: 15px;
			}
		}
		.sign_up_form {
			width: 100%;
			input {
				display: block;
				width: 100%;
				margin-top: 10px;
				&:nth-child(2), &:first-child {
					width: 48%;
					display: inline-block;
				}
				&:first-child {
					margin-right: 10px;
				}
				&:last-child {
					margin-bottom: 10px;
				}
			}
			p {
				color: #ccc;
				font-size: 12.5px;
				margin-top: 10px;
			}
			button {
				&.green {
					width: 100%;
				}
			}
		}
		.day_divider {
			margin-top: 0!important;
			padding: 0.5rem 16px 0.5rem 1.5rem;
			min-width: 308px;
			.day_divider_label {
				font-weight: 400;
				color: #ccc;
			}
		}
		.sign_up_group {
			margin-top: 10px;
			width: 100%;
			button {
				color: #fff;
				min-width: 225px;
				width: 100%;
				text-shadow: none;
				font-weight: 400;
				font-size: 14px!important;
				letter-spacing: 0.02em;
				position: relative;
				padding-left: 23px;
				margin-bottom: 10px;
				&.google_button {
					background-image: linear-gradient(-180deg, #F87A6E 0%, #DC4E41 100%);
					border-radius: 3px;
				}
				&.facebook_button {
					background-image: linear-gradient(-180deg, #6B88C9 0%, #35508A 100%);
					border-radius: 3px;
					padding-left: 40px;
					padding-right: 17px;
					img {
						height: 26px;
					    bottom: 1px;
					    left: 13px;
					    padding-right: 15px;
					}
				}
				&:last-child {
					margin-bottom: 0px;
				}
				img {
					opacity: 1;
					position: absolute;
					left: 8px;
					top: 5px;
					border-right: 1px solid rgba(0, 0, 0, 0.10);
					padding-right: 8px;
				}
			}
		}
	}
}