.item_list_container {
	margin-top: 10px;
	padding-top: 10px;
	position: relative;
	p {
		letter-spacing: 0.01em;
	}
	.item_cue {
		line-height: 1.4;
	}
	.item_count_label {
		padding-top: 5px;
		font-size: 15px;
		color: #555459;
		.item_count {
			color: #D2D2D2;
		}
	}
	.item_actions {
		position: absolute;
		right: 15px;
		top: 15px;
		cursor: pointer;
		color: #555549;
		opacity: 0.3;
		text-decoration: none;
		&:hover {
			opacity: 1
		}
	}
}