.search_concept_container {
	display: block;
	position: relative;
	margin-top: 20px;
	.spotlight_search {
		display: block;
		position: relative;
		width: 585px;
		background-color: #fff;
		box-shadow: 0 1px 4px #e3e3e3;
		padding: 20px 20px 20px 20px !important;
		border: 1px solid #e3e3e3;
		border-radius: 3px;	
		margin-top: 10px;
		li {
			list-style-type: none;
		}
	}
	.related_container {
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: rgba(0, 0, 0, 0.07);
		padding: 20px 0;
		margin-top: 20px;
		margin-left: 20px;
		max-width: 540px;
		.related_table {
			display: table;
			ul {
				display: table-cell;
				padding-right: 20px;
				a {
					display: block;
					font-size: 15px;
					margin: 10px 0;
					cursor: pointer;
					&:first-child {
						margin: 0;
					}
				}
			}
		}
	}
	.search_label {
		font-size: 18px;
		color: #808080;
		font-style: none;
		// padding-bottom: 10px;
		// border-bottom: 1px solid #E9EBED;
	}
	ul {
		&.subject_list {
			margin-right: 0px;
			margin-top: -20px;
			margin-bottom: 15px;
			.subject_label {
				display: inline-block;	
				font-size: 14.5px;
				font-style: italic;
				color: #9991a0;
			}
			.subject_item {
				display: inline-block;	
				font-size: 14.5px;
				color: #1a0dab;	
				white-space: nowrap;
			}
			:not(:first-child) {
					margin-left: 10px;
			}
		}
	}
	.concept_header {
		padding-bottom: 5px;
		&.subjects {
			padding: 0!important;
		}
		h4 {
			&.search_query {
				font-size: 1.4em;
				font-weight: 700;
				font-family: "Lato";
				color: #000;
			}
		}
		.subject_list {
			display: inline-flex;
			.icon {
				margin-top: 5px;
				height: 15px;
			}
			.subject_item {
				font-size: 14.5px;
				color: #C2C2C2;
			}
		}
	}
	.concept_header {
		color: #9991a0;
		b {
			color: #000;
		}
	}
	.example_list_container, .null_results_container {
		margin-top: 15px;
		margin-left: 20px;
		.example_label {
			font-size: 17px;
			color: #9991a0;
		}
	}
	.null_results_container {
		color: #747474;
	}
	span {
		&.source {
			margin-top: 0!important;
			font-size: 14.5px;
			color: #57AD67;
			opacity: 0.8;
			cursor: pointer;
			&:hover {
				opacity: 1;
			}
		}
	}
	ul {
		&.definition_list, &.example_list {
			max-width: 540px;
			margin-left: 0px;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		&.definition_list {
			margin-top: -4px;
		}
		&.example_list {
			margin-left: 0px;
			li {
				padding-bottom: 20px;
			}
		}
	}
	.def_index {
		position: absolute;
		display: inline-block;
		left: 20px;
		color: #9991a0;
		font-size: 14px;
	}
	.definition_item {
		border-bottom: 1px solid #f3f3f3;
		&:not(:first-child) {
			padding: 20px 0;
		}
		&:last-child {
			border-bottom: none;
			padding: 20px 0 0 0; 
		}
		&:first-child {
			padding: 0 0 20px 0;
		}
		&.only_child {
			padding: 0;
		}
		p {
			margin-bottom: 0!important;
			&.definition {
				display: block;
				position: relative;
				font-size: 16px;
				margin-bottom: 0!important;
				padding-bottom: 0!important;
			}
		}
	}
}