.profile_view {
	.profile_header {
		display: table;
		position: relative;
		.profile_pic_container {
			display: table-cell;
			img {
				padding-top: 5px;
				&.profile_pic_image {
					// position: absolute;
					display: inline-block;
					height: 110px;
					width: 110px;
					border-radius: 999em;
					padding: 0;
					margin: 0 10px 2px 0;
				}
			}			
		}
		.profile_name_container {
			display: table-cell;
			position: absolute;
			margin: 0 0 0 30px;
			width: 100%;
			.profile_username {
				font-family: "Lato";
				font-size: 1.8em;
				font-weight: 900;
				letter-spacing: 0.01em;
				margin-bottom: 5px!important;
			}
			.profile_fullname {
				opacity: 0.6;
				font-size: 16px;
			}
		}
	}
	nav {
		display: block;
		&.profile_tabs {
			position: relative;
			line-height: 38px;			
			&:after, &:before {
				display: table;
			}
			&:after {
				clear: both;
			}
			.tabs_container {
				margin: -40px 0 0 150px;
				border-bottom: 1px solid #e3e3e3;
				ul {
					&.tabs_list {
						margin-bottom: -1px;
					}
					li {
						display: inline-block;
						cursor: pointer;
						&.tab_item {
							padding: 0 24px;
							&.active {
								border-bottom: 3px solid #2AB27B;
							}
							&:not(.active) {
								opacity: 0.6;
							}
						}
						&:hover {
							opacity: 1!important;
						}
					}
				}
			}
		}
	}
	.profile_setlist_container {
		padding-top: 15px;
	}
	.profile_info {
		width: 90%;
		margin-left: 10px;
		.section_header {
			margin-top: 110px;
		}
		.profile_details {
			padding-left: 10px;
			.info_header {
				font-size: 12px;
				font-weight: 700;
				color: #9E9EA6;
				padding-bottom: 0;
				margin-bottom: 0;
			}
			.info_child {
				font-size: 14px;
			}
			.created_details {
				padding-top: 10px;
				font-size: 14px;
				color: #9E9EA6;
				font-style: italic;
			}
		}
		.info_icon {
			height: 25px!important;
			margin-left: 2px;
		}
	}	
}






