.learn_page{
	margin-top: -15px;
	.learn_container {
		font-family: "Lato";
		letter-spacing: 0.01em;
		max-width: 800px!important;
		padding-right: 85px;
		padding-left: 10px;
		padding-top: 20px;
		margin-left: 230px!important;
		p {
			font-size: 17px;
		}
	}
}