
.input_box {
	display: inline-flex;
	position: relative;
	width: 100%;
	form {
		width: 100%;
		border-radius: 2px;
		margin-right: 10px;
		input {
			display: inline-block;
			width: 100%;
			border: 1px solid #d9d9d9;
			border-radius: 2px;
			height: 38px;
			padding: 0 10px 0 10px;
			font-size: 17px;
			&:focus {
				border: 1px solid #498DFF;
				outline: none;
			}
			&:active {
				outline: none;
			}
		}
	}
	.answer_btn {
		background: #4281F1;
		border: 1px solid #498DFF;
	}	
	.hint_btn {
		border: none;
		background: #2AB27B;
		margin-right: 10px;
	}	
}

.form-control::-webkit-input-placeholder {
   color: #B2B2B2;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #B2B2B2;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #B2B2B2;  
}

.form-control:-ms-input-placeholder {  
   color: #B2B2B2;  
}



