.error_page {
	position: relative;
	display: block;
	top: 100px;
	text-align: center;
	h1 {
		font-family: "Lato";
		font-weight: 900!important;
		letter-spacing: 0.01em;
		color: #555459;
		&.error {
			font-size: 7.5em!important;
		}
		&.not_found {
			font-weight: 400!important;
			font-size: 3em!important;
		}
	}
	.error_message {
		font-size: 17px;
		&.head {
			font-weight: 700!important;
		}
	}
}