.learn_help {
	margin-top: 10px;	
	margin-bottom: 10px;
	padding-left: 8px;
	font-size: 18px;
	.mc_choices {
		margin-left: -7px;
		.mc_item {
			margin-bottom: 18px;
			span {				
				border-bottom: 1px solid #f2f2f2;
				border-radius: 2px;
				padding: 6px 8px 8px 9px;				
				&.last_child {
					border-bottom: none;
				}
			}									
		}
	}
	.diff_label {
		color: #B3B3B3;
		margin-bottom: 5px;
		margin-left: 0px;	
		text-transform: uppercase;
		font-size: 12.5px!important;
		font-weight: 400;
		&.mc_label {
			margin-bottom: 7.5px;
		}
	}
}
// li:not(:last-child):after {
//     content:' |';
// }