.day_divider {
	// margin-right: -.125rem;
	margin: 0.5rem -18px 0 -1.5rem;
	padding: .5rem 18px .5rem 1.5rem;
	line-height: 1.2rem;
	font-size: 1rem;
	font-family: "Calibri";
	color: #555459;
	font-weight: 900;
	text-align: center;
	cursor: default;
	clear: both;
	position: relative;
	min-width: 460px;
	hr {
		position: absolute;
		border-top: 1px solid #DDD;
		top: 1.1rem;
		right: 18px;
		left: 1.5rem;
		margin: 0;
	}
	.day_divider_label {
		background:#fff;
		padding: 0 1rem;
		display: inline-block;
		margin: 0 auto;
		position: relative;

	}		
}
.sets_container {
	font-size: 15.5px;
	background: transparent!important;		
	cursor: pointer;
	width: 100%;
	max-width: 100%;	
	.set_col {
	clear: none;
	float: left;
	padding: 0.5rem;
	line-height: 2.75;
	vertical-align: top;
	border-top: none;
	white-space: nowrap;
	}	
	.set_row {
		min-width: 445px;
		background: transparent!important;
		border-style: solid;
		background: #fff;
		position: relative;
		padding: 0.25rem;
		border: 1px solid transparent!important;
		border-radius: .25rem!important;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;	
		&:hover {
			background-color: #fff;
			border-color: rgba(0,0,0,.1)!important;
			// box-shadow: 0 0 3pt 2pt red;
		}
	}		
	.set_col { 
		font-family: "Roboto";
		color: #383F45;						
	}
	.home_set_icon {
		opacity: 0.2;
		height: 30px;
	}
	a {
		color: #0063C3;
	}
	.set_author, .date_last_studied {
		opacity: 0.6;
	}
	.set_author {
		float: right;
		&:hover {
			opacity: 1;
			.link_name {
				text-decoration: underline;
			}
		}
	}
	.date_last_studied {
		text-align: right;
		padding-right: 30px;
		float: right;
	}
	.actions {
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 0;
		width: auto;
		border-top-right-radius: 0;
	    border-bottom-right-radius: 0;
	    border-bottom-left-radius: 1rem;
	    border-top-left-radius: 1rem;
	    background-clip: padding-box;
	    opacity: 0;
	    -webkit-transition: opacity 25ms ease-in-out .025s;
	    -moz-transition: opacity 25ms ease-in-out .025s;
	    transition: opacity 25ms ease-in-out .025s;
	    text-align: center;
	    z-index: 10;
	    &.active {		    	
	    	opacity: 1;		    	
	    }
	}
}
